<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>

    <!-- Link shortcut icon-->
    <link rel="shortcut icon" type="image/ico" th:href="@{images/favicon2.ico}"/>

    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
    <div th:replace="${view} :: content-js"></div>
</head>
<body>
    <div th:replace="fragments/header :: header"/>
    <div id="shadowhead"></div>
    <div th:replace="fragments/left-menu :: left-menu"/>
    <div id="expandbtn"><span class="off">&nbsp;</span><span class="on">&nbsp;</span></div>
    <div id="content">
        <div class="inner">
            <div th:replace="${view} :: content" />
            <div th:replace="fragments/footer :: footer" />
        </div>
    </div>
</body>
</html>