<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content" class="main-content">
        <div id="content">
            <div class="inner">
                <div class="topcolumn">
                    <div class="logo"></div>
                </div>
                <div class="clear"></div>
                <div class="widget">
                    <div class="header">
                        <span><span class="ico gray window"></span>  Create System User </span>
                    </div>
                    <div class="content">
                        <!-- title box -->
                        <form th:action="@{/create-system-user}" id="form-system-user" th:object="${systemUser}" method="post">
                            <div class="section" >
                                <label> Username</label>
                                <div> <input type="text" name="username" class="large"  /></div>
                            </div>
                            <div class="section">
                                <label> Email</label>
                                <div> <input type="text" name="email" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>Password</label>
                                <div> <input type="password" name="password" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>Confirm Password</label>
                                <div> <input type="password" name="confirmPassword" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>First Name</label>
                                <div> <input type="text" name="firstName" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>Last Name</label>
                                <div> <input type="text" name="lastName" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>Remark</label>
                                <div> <input type="text" name="remark" class="large" /></div>
                            </div>
                            <div class="section">
                                <label>User Role</label>
                                <div>
                                    <select class="normal" name="roleId">
                                        <option value="-1"  >Please Select</option>
                                        <option th:each="userRole : ${userRoleList}" th:value="${userRole.id}" th:text="${userRole.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="section last">
                                <!--<button type="submit">Create</button> <br />-->
                                <div><a class="uibutton loading" title="Saving" rel="1" onclick="submitForm('form-system-user')" >submit</a> <a class="uibutton special"  >clear form</a> </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>