<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <div th:fragment="content" class="main-content">
    <form th:action="@{/system-user/search}" id="form-search-system-user" method="post">
        <div class="topcolumn">
            <div class="logo"></div>
        </div>
        <div class="clear"></div>
        <div class="widget">
            <div class="header">
                <span><span class="ico gray window"></span> Tìm Kiếm Người Dùng </span>
            </div>
            <div class="content" th:object="${searchCondition}">
            <!-- title box -->
                <div class="widgets">
                    <div class="oneTwo">
                        <div class="section">
                            <label> Username </label>
                            <div>
                                <input type="text" cssClass="full" name="username"/>
                            </div>
                        </div>
                    </div>
                    <div class="oneTwo">
                        <div class="section">
                            <label> Email </label>
                            <div>
                                <input type="text" cssClass="full" name="email"/>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="widgets">
                    <div class="oneTwo">
                        <div class="section">
                            <label> First Name </label>
                            <div>
                                <input type="text" cssClass="full" name="firstName"/>
                            </div>
                        </div>
                    </div>
                    <div class="oneTwo">
                        <div class="section">
                            <label> Last Name </label>
                            <div>
                                <input type="text" cssClass="full" name="lastName"/>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="widgets">
                    <div class="oneTwo">
                        <div class="section">
                            <label> User Role </label>
                            <div>
                                <select class="normal" name="roleId">
                                    <option value="-1"  >ALL</option>
                                    <option th:each="userRole : ${userRoleList}" th:value="${userRole.id}" th:text="${userRole.name}"></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="section last">
                <div>
                    <a class="uibutton loading" title="Saving" rel="1" onclick="submitForm('form-system-user')" >Search</a>
                    <a class="uibutton loading" href="/tms/init-system-user">Create New</a> </div>
            </div>
        </div>
        <div class="widget">
            <div class="header"><span ><span class="ico  gray random"></span> Danh Sách Người Dùng </span></div>
            <div class="content">
                <table class="display static " id="static">
                    <thead>
                        <tr>
                            <th><div class="th_wrapp">No.</div></th>
                            <th><div class="th_wrapp">Username</div></th>
                            <th><div class="th_wrapp">Email</div></th>
                            <th><div class="th_wrapp">First Name</div></th>
                            <th><div class="th_wrapp">First Name</div></th>
                            <th><div class="th_wrapp">User Role</div></th>
                            <th><div class="th_wrapp">Status</div></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" th:each="systemUser : ${systemUserList}">
                            <td ></td>
                            <td th:text="${systemUser.username}"></td>
                            <td th:text="${systemUser.email}"></td>
                            <td th:text="${systemUser.firstName}"></td>
                            <td th:text="${systemUser.lastName}"></td>
                            <td th:text="${systemUser.roleId}"></td>
                            <td th:text="${systemUser.isDeleted}"></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- End content -->
        </div>
    </form>
</div>
</body>
</html>

