<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="left-menu">
    <div id="left_menu">
        <ul id="main_menu" class="main_menu">
            <li class="limenu">
                <a href="#"><span class="ico gray shadow home" ></span><b>HOME</b></a>
            </li>
            <li class="limenu">
                <a href="/tms/list-system-user"><span class="ico gray shadow window" ></span><b>System User</b></a>
            </li>
            <li class="limenu">
                <a href="#" ><span class="ico gray shadow window"></span><b>Quản Lý Sản Phẩm </b></a>
                <ul>
                    <li ><a href="form.html"> basic form </a></li>
                    <li ><a href="vform.html"> validation </a></li>
                    <li ><a href="wizard.html"> wizard </a></li>
                </ul>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Dự Trù Chi Phí</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 4</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 5</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 6</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 7</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 8</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 9</b></a>
            </li>
            <li class="limenu">
                <a href="#"><span class="ico gray shadow window" ></span><b>Menu 10</b></a>
            </li>
        </ul>
        <div id="expandbtn"><span class="off">&nbsp;</span><span class="on">&nbsp;</span></div>
    </div>
</div>
</html>